<?xml version="1.0" encoding="UTF-8"?>

<Config>
  <ApplicationUnderTest>
    <Name>Dakar 2021</Name>
    <Version>1.0.0</Version>
    <URI>http://deploy.dakarhr.com/DakarHR.php</URI>
  </ApplicationUnderTest>
  
  <WebDriver>Google</WebDriver>
  
  <Reporting>
    <Strategy>Log</Strategy>
    <LogDir>./logs</LogDir>
    <Level>All</Level>
  </Reporting>
</Config>